<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dasom.dasomServer.DAO.UserDAO">

    <resultMap id="userWithImagesResultMap" type="User">
        <id property="id" column="s_id"/>
        <result property="loginId" column="s_login_id"/>
        <result property="password" column="s_password"/>
        <result property="name" column="s_name"/>
        <result property="gender" column="s_gender"/>
        <result property="birthday" column="s_birthday" jdbcType="DATE"/>
        <result property="createdAt" column="s_created_at"/>
        <result property="caregiverId" column="s_caregiver_id"/>
        <collection property="images" ofType="com.dasom.dasomServer.DTO.UserImage">
            <id property="id" column="si_id"/>
            <result property="silverId" column="si_silver_id"/>
            <result property="originalFilename" column="si_original_filename"/>
            <result property="storedFilename" column="si_stored_filename"/>
        </collection>
    </resultMap>

    <resultMap id="guardianResultMap" type="com.dasom.dasomServer.DTO.Guardian">
        <id property="id" column="g_id"/>
        <result property="silverId" column="g_silver_id"/>
        <result property="name" column="g_name"/>
        <result property="tel" column="g_tel"/>
        <result property="relationship" column="g_relationship"/>
        <result property="address" column="g_address"/>
        <result property="createdAt" column="g_created_at"/>
        <collection property="images" ofType="com.dasom.dasomServer.DTO.GuardianImage">
            <id property="id" column="gi_id"/>
            <result property="guardianId" column="gi_guardian_id"/>
            <result property="originalFilename" column="gi_original_filename"/>
            <result property="storedFilename" column="gi_stored_filename"/>
        </collection>
    </resultMap>


    <resultMap id="userWithGuardiansResultMap" type="User">
        <id property="id" column="s_id"/>
        <result property="loginId" column="s_login_id"/>
        <collection property="guardians" ofType="com.dasom.dasomServer.DTO.Guardian" resultMap="guardianResultMap"/>
    </resultMap>

    <resultMap id="caregiverResultMap" type="com.dasom.dasomServer.DTO.Caregiver">
        <id property="id" column="c_id"/>
        <result property="loginId" column="c_login_id"/>
        <result property="password" column="c_password"/>
        <result property="name" column="c_name"/>
        <result property="affiliation" column="c_affiliation"/>
        <result property="tel" column="c_tel"/>
        <result property="createdAt" column="c_created_at"/>
        <result property="refreshToken" column="c_refresh_token"/>
        <result property="role" column="c_role"/>
        <result property="gender" column="c_gender"/>
    </resultMap>

    <resultMap id="caregiverWithImagesResultMap" type="com.dasom.dasomServer.DTO.Caregiver">
        <id property="id" column="c_id"/>
        <result property="loginId" column="c_login_id"/>
        <result property="password" column="c_password"/>
        <result property="name" column="c_name"/>
        <result property="affiliation" column="c_affiliation"/>
        <result property="tel" column="c_tel"/>
        <result property="createdAt" column="c_created_at"/>
        <result property="refreshToken" column="c_refresh_token"/>
        <result property="role" column="c_role"/>
        <result property="gender" column="c_gender"/>
        <collection property="images" ofType="com.dasom.dasomServer.DTO.CaregiverImage">
            <id property="id" column="ci_id"/>
            <result property="caregiverId" column="ci_caregiver_id"/>
            <result property="originalFilename" column="ci_original_filename"/>
            <result property="storedFilename" column="ci_stored_filename"/>
        </collection>
    </resultMap>

    <resultMap id="silverMedicationResultMap" type="com.dasom.dasomServer.DTO.SilverMedication">
        <id property="id" column="sm_id"/>
        <result property="silverId" column="sm_silver_id"/>
        <result property="medicationType" column="sm_medication_type"/>
        <result property="notes" column="sm_notes"/>
    </resultMap>

    <insert id="insertUser" parameterType="com.dasom.dasomServer.DTO.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO silvers (
            login_id,
            password,
            name,
            gender,
            caregiver_id,
            birthday
        ) VALUES (
                     #{loginId},
                     #{password},
                     #{name},
                     #{gender},
                     #{caregiverId},
                     #{birthday}
                 )
    </insert>

    <insert id="insertUserImage" parameterType="com.dasom.dasomServer.DTO.UserImage"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO silvers_images
            (silver_id, original_filename, stored_filename)
        VALUES
            (#{silverId}, #{originalFilename}, #{storedFilename})
    </insert>

    <select id="existsByLoginId" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM silvers WHERE login_id = #{loginId}
    </select>

    <select id="findByLoginId" parameterType="String" resultMap="userWithImagesResultMap">
        SELECT
            s.id AS s_id, s.login_id AS s_login_id, s.password AS s_password,
            s.name AS s_name, s.gender AS s_gender, s.created_at AS s_created_at,
            s.caregiver_id AS s_caregiver_id,
            s.birthday AS s_birthday, si.id AS si_id, si.silver_id AS si_silver_id,
            si.original_filename AS si_original_filename,
            si.stored_filename AS si_stored_filename
        FROM
            silvers s
                LEFT JOIN
            silvers_images si ON s.login_id = si.silver_id
        WHERE
            s.login_id = #{loginId}
    </select>

    <insert id="insertGuardian" parameterType="com.dasom.dasomServer.DTO.Guardian" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO guardians (
            silver_id, name, tel, relationship, address
        ) VALUES (
                     #{silverId}, #{name}, #{tel}, #{relationship}, #{address}
                 )
    </insert>

    <insert id="insertGuardianImage" parameterType="com.dasom.dasomServer.DTO.GuardianImage" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO guardians_images (
            guardian_id, original_filename, stored_filename
        ) VALUES (
                     #{guardianId}, #{originalFilename}, #{storedFilename}
                 )
    </insert>

    <insert id="insertSilverGuardianMap" parameterType="Map">
        INSERT INTO silver_guardian_map (
            silver_id, guardian_id
        ) VALUES (
                     #{silverId}, #{guardianId}
                 )
    </insert>

    <select id="findGuardiansBySilverId" parameterType="String" resultMap="guardianResultMap">
        SELECT
            id           AS g_id,
            silver_id    AS g_silver_id,
            name         AS g_name,
            tel          AS g_tel,
            relationship AS g_relationship,
            address      AS g_address,
            created_at   AS g_created_at
        FROM
            guardians
        WHERE
            silver_id = #{silverId}
    </select>

    <select id="findGuardianStoredFilenameByGuardianId" parameterType="Long" resultType="String">
        SELECT
            stored_filename
        FROM
            guardians_images
        WHERE
            guardian_id = #{guardianId}
            LIMIT 1
    </select>

    <insert id="insertCaregiver" parameterType="com.dasom.dasomServer.DTO.Caregiver" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO caregivers (
            login_id,
            password,
            name,
            affiliation,
            tel,
            gender
        ) VALUES (
                     #{loginId},
                     #{password},
                     #{name},
                     #{affiliation},
                     #{tel},
                     #{gender}
                 )
    </insert>

    <insert id="insertCaregiverImage" parameterType="com.dasom.dasomServer.DTO.CaregiverImage"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO caregivers_images
            (caregiver_id, original_filename, stored_filename)
        VALUES
            (#{caregiverId}, #{originalFilename}, #{storedFilename})
    </insert>

    <select id="existsCaregiverByLoginId" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM caregivers WHERE login_id = #{loginId}
    </select>

    <select id="findCaregiverByLoginId" parameterType="String" resultMap="caregiverWithImagesResultMap">
        SELECT
            c.id AS c_id, c.login_id AS c_login_id, c.password AS c_password,
            c.name AS c_name, c.affiliation AS c_affiliation, c.tel AS c_tel,
            c.created_at AS c_created_at, c.refresh_token AS c_refresh_token,
            c.role AS c_role, c.gender AS c_gender,
            ci.id AS ci_id, ci.caregiver_id AS ci_caregiver_id,
            ci.original_filename AS ci_original_filename,
            ci.stored_filename AS ci_stored_filename
        FROM
            caregivers c
                LEFT JOIN
            caregivers_images ci ON c.login_id = ci.caregiver_id
        WHERE
            c.login_id = #{loginId}
    </select>

    <select id="findCaregiverById" parameterType="Long" resultMap="caregiverWithImagesResultMap">
        SELECT
            c.id AS c_id, c.login_id AS c_login_id, c.password AS c_password,
            c.name AS c_name, c.affiliation AS c_affiliation, c.tel AS c_tel,
            c.gender AS c_gender,
            ci.id AS ci_id, ci.caregiver_id AS ci_caregiver_id,
            ci.original_filename AS ci_original_filename,
            ci.stored_filename AS ci_stored_filename
        FROM
            caregivers c
                LEFT JOIN
            caregivers_images ci ON c.login_id = ci.caregiver_id
        WHERE
            c.id = #{id}
    </select>

    <select id="findCaregiverBySilverLoginId" parameterType="String" resultMap="caregiverWithImagesResultMap">
        SELECT
            c.id AS c_id, c.login_id AS c_login_id, c.password AS c_password,
            c.name AS c_name, c.affiliation AS c_affiliation, c.tel AS c_tel,
            c.created_at AS c_created_at, c.refresh_token AS c_refresh_token,
            c.role AS c_role, c.gender AS c_gender,

            ci.id AS ci_id, ci.caregiver_id AS ci_caregiver_id,
            ci.original_filename AS ci_original_filename,
            ci.stored_filename AS ci_stored_filename
        FROM
            caregivers c
                JOIN
            silvers s ON c.id = s.caregiver_id
                LEFT JOIN
            caregivers_images ci ON c.login_id = ci.caregiver_id
        WHERE
            s.login_id = #{silverLoginId}
    </select>

    <insert id="insertSilverMedication" parameterType="com.dasom.dasomServer.DTO.SilverMedication" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO silver_medications (
            silver_id, medication_type, notes
        ) VALUES (
                     #{silverId}, #{medicationType}, #{notes}
                 )
    </insert>

    <select id="findSilverMedicationsBySilverId" parameterType="String" resultMap="silverMedicationResultMap">
        SELECT
            id              AS sm_id,
            silver_id       AS sm_silver_id,
            medication_type AS sm_medication_type,
            notes           AS sm_notes
        FROM
            silver_medications
        WHERE
            silver_id = #{silverId}
    </select>

</mapper>